.header {
    background-color: #663399;
    color: white;
    padding: 20px;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  